.startContainer {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    overflow: auto;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}